// make object responsive
object {
  width: 100%;
}


polygon
{
	stroke: 0;
	stroke-linejoin: butt;
	fill: #6396D8;
}

.red {
	fill: #C42A21;
}


#cf-font {
	font-family: 'Open Sans';
	font-style: italic;
	font-size: 200%;
	fill: #6CB448;
}
